@page "/"

<PageTitle>StarSector Web Tools by Kazbek</PageTitle>

<h1>StarSector Web Tools by Kazbek</h1>

Эти инструменты созданы для того, чтобы упростить процесс создания перевода для игры StarSector. По всем вопросам можно обращаться в <a target="_blank" href="https://github.com/Kazbek/StarSectorLocalizer">GitHub</a> или на сервере в <a target="_blank" href="https://discord.com/channels/491062665897312256/1021839267749695560">Discord</a>
